.img-producto {
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}

.banner {
    padding: 6rem 0;
    background: url(../images/banner/banner6.jpeg);
    color: black;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.btn-lila {
    color: #0608B0;
    background-color: #BEA8DB;
    border-color: #291E5E;
}

.btn-lila:hover,
.btn-lila:focus,
.btn-lila:active,
.btn-lila.active,
.open .dropdown-toggle.btn-lila {
    color: #0608B0;
    background-color: #8564B0;
    border-color: #291E5E;
}

.btn-lila:active,
.btn-lila.active,
.open .dropdown-toggle.btn-lila {
    background-image: none;
}

.btn-lila.disabled,
.btn-lila[disabled],
fieldset[disabled] .btn-lila,
.btn-lila.disabled:hover,
.btn-lila[disabled]:hover,
fieldset[disabled] .btn-lila:hover,
.btn-lila.disabled:focus,
.btn-lila[disabled]:focus,
fieldset[disabled] .btn-lila:focus,
.btn-lila.disabled:active,
.btn-lila[disabled]:active,
fieldset[disabled] .btn-lila:active,
.btn-lila.disabled.active,
.btn-lila[disabled].active,
fieldset[disabled] .btn-lila.active {
    background-color: #BEA8DB;
    border-color: #291E5E;
}

.btn-lila .badge {
    color: #BEA8DB;
    background-color: #0608B0;
}